*{
    border: 0%;
    margin: 0%;
    box-sizing: border-box;
}

    body{
        
         background-size: cover;
    background-repeat: no-repeat;
        
        
        
    }

    .video-header{
        position: fixed;
        height: 500px;
        width: 100%;
        z-index: 0;
    }
    #img2{  
        padding-top: 10px;
        margin-bottom: 10px;
        z-index:1;
    }
    #p1{
        background-color: black;
        box-shadow: 10px  px 1px rgb(236, 233, 233);
        text-align: center;
        color: rgb(255, 255, 255) ;
        padding: 10px
    }
   #rosto-da-mulher{
    height: 350px;
    width: 1365px;
    z-index: 1;
   }
   .ancora{
    text-decoration: none;
    color: rgb(255, 255, 255);
    z-index: 1;
   
    
   }
   #cabecalho{
    display: flex;
    justify-content: space-between; 
    backdrop-filter: blur(5px);
    z-index: 1;
   }
   #cabecalho input{
    height: 30px;
    margin-top: 15px;
    border-radius: 10px;
    background: cadetblue;
    background: linear-gradient(90deg,rgba(110, 82, 57, 1) 34%, rgba(163, 110, 85, 1) 52%, rgba(194, 133, 112, 1) 71%);
    width: 300px;
    z-index: 1;
   }
   #icons{
    margin-top: 15px;
    z-index: 1;
   }
   #navegacao{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0 10px 0;
    z-index: 1;
    
   }
   #cabecalho ::placeholder{
    color: white; 
    z-index: 1;
   }
   /*aqui  vamos fazer a estrutura*/

   .container{
    gap: 10px;/* ele e o expacamento entre as linha*/
    height: 100vh;
   }