    *{
        padding: 0;
        margin: 0;
    }
    nav{
        display: inline-block;
    }
    #img2{
        display: inline-block;
        margin-right: 30vw;
        padding-top: 10px;
    }
    #img3{
        margin-left: 80px;
    }
    #p1{
        background-color: black;
        text-align: center;
        color: rgb(255, 255, 255) ;
        padding: 10px;
    }
    #spam1{
        color:  white;
    }
    #spam2{
        color: gray;
    }
   #td1{
    display:inline;
    
    width: 40%;
    text-align: left;
   }
   #td2{
    width: 40%;
    text-align: right;
   }
   #td3{
    width: 5%;
    text-align: right;
   }
   #td4{
    width: 5%;
    text-align: right;
   }

   .cabeçario{
    display:inline-flexbox;
    min-width: 100%;
    height: 600px;
    background-image: url(imagem/franbrows.webp);
    background-size: cover;
    background-repeat: no-repeat;

   }
   .balao-clik{
    display: flex;/* ele vai ativar o modelo flex box */
    justify-content: center;/*ele esta deixando em uma posiçao*/
    align-items: center;
    min-height: 70vh;/* deixou no centro sem ficar jutandoque lugar vai esta as informaçoes*/
    background-image: url(imagem/WhatsApp\ Image\ 2025-10-08\ at\ 02.55.58.png);
    background-size: contain;
    width: 370px;
    height: 5px;
    margin-left: 550px;
    
    background-repeat: no-repeat;/* ele pega imagem e atapita no tamanho da tela */
    background-position: center;
    font-family: "Abril Fatface", serif;
    font-weight: 1000;
    font-size:  19px;
    text-align: center;
    color:blue;
   }
   .imagem-lançamento{
    display:inline;
    justify-content:space-between;

   }
   .conteine-francine{
    width: 1493PX;
    height: 550px;
    background-image: url(imagem/fundo-fRANCINE.webp);
    background-size:cover ;
    border: 10px solid black;
    
   }
     #quadrado-fran{
        width: 470px;
        height: 50px;
    display:inline-flex;/* ele vai ativar o modelo flex box */
    justify-content:center;/*ele esta deixando em uma posiçao*/
    margin-top :70px; ;
    margin-left: 19px;
    background-color: transparent;
    border:1px solid transparent;
    
   
    
   }
   .Lançamentos{
    background-image: url(imagem/fundo\ capa\ principal2.jpeg);
   }
 .video-do-prime{
    width: 1500px;
    height: 600px;
    background-color: blue;
 }
 #vd{
    height: 600px;
    
 }