    nav{
        display: inline-block;
    }
    #img2{
        display: inline-block;
        margin-right: 30vw;
    }
    #img3{
        margin-left: 40vw;
    }
    #p1{
        background-color: black;
        text-align: center;
        color: rgb(255, 255, 255) ;
    }
    #spam1{
        color:  white;
    }
    #spam2{
        color: gray;
    }