    *{
        padding: 0;
        margin: 0;
    }
    body{
        background-image: url("//franbyfr.com.br/cdn/shop/files/Rosto_2.jpg?v=1756752296&width=2000");
        background-repeat: no-repeat;
        
    }
    #img2{  
        padding-top: 10px;
        margin-bottom: 10px;
    }
    #p1{
        background-color: black;
        text-align: center;
        color: rgb(255, 255, 255) ;
        padding: 10px;
    }
   #rosto-da-mulher{
    height: 350px;
    width: 1365px;
   }
   .ancora{
    text-decoration: none;
    color: aqua;
   
    
   }
   #cabecalho{
    display: flex;
    justify-content: space-between; 
    backdrop-filter: blur(5px);
   }
   #cabecalho input{
    height: 30px;
    margin-top: 15px;
    border-radius: 10px;
    background: #6e5239;
    background: linear-gradient(90deg,rgba(110, 82, 57, 1) 34%, rgba(163, 110, 85, 1) 52%, rgba(194, 133, 112, 1) 71%);
    width: 300px;
   }
   #icons{
    margin-top: 15px;
   }
   #navegacao{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0 10px 0;
    
   }
   #cabecalho ::placeholder{
    color: white;
   }
